body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #4e73df, #1cc88a);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

h1 {
    margin: 10px 0;
    color: #333;
}

.tag {
    color: gray;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f8f9fc;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #4e73df;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #2e59d9;
}

#funFact {
    margin-top: 15px;
    font-weight: bold;
    color: #1cc88a;
}
